/* TABLET RESPONSIVE */

@media screen and (max-width: 768px) {
  [aria-controls="buynowDropdown"] {
    display: block;
    border: none;
    background: transparent;
    font-size: 35px;
  }

  [aria-controls="false"] ~ ul {
    display: none;
  }

  [aria-controls="true"] ~ ul {
    display: block;
  }

  .navbar-nav > li > a {
    display: none;
  }



  .buy-now {
    display: none;
  }

  #background {
    height: 965px;
  }

  .motto-container {
    margin-left: 25px;
    margin-right: 25px;
  }

  .motto {
    text-align: center;
  }

  /* .play-video {
    justify-content: center;
    padding-top: 10px;
  } */

  .icon-container {
    display: flex;
    margin-top: 300px;
    padding-top: 200px;
    justify-content: center;
  }

  .icons {
    margin-right: 550px;
  }

  .logo {
    margin-top: 5px;
  }

  .logo-two {
    margin-top: 30px;
  }

  .logo-three {
    margin-left: 110px;
    margin-top: 75px;
  }

  .logo-four {
    margin-left: -567px;
    margin-top: 180px;
  }

  .logo-five {
    margin-left: -250px;
    margin-top: 208px;
  }

  .logo-six {
    margin-left: -450px;
    margin-top: 380px;
  }

  .logo-seven {
    margin-left: -175px;
    margin-top: 400px;
  }

  .four-cards-container {
    display: grid;

    grid-template-columns: auto auto;
  }

  .card-content {
    width: 300px;
    height: 300px;
  }

  .card-title,
  .card-paragraph {
    font-size: 18px;
  }

  .third-section-container {
    display: flex;
    justify-content: flex-start;
  }

  .box-sizing {
    flex-direction: column;
    height: 652px;
    background-color: #f8f9fa;

    margin-left: 65px;
    margin: 15px;
    font-size: 24px;
  }

  .perspective-video {
    margin-top: 50px;
    height: 1000px;

    position: absolute;
    text-align: center;
    font-size: 26px;
  }

  .video-intro {
    margin-top: 0px;
    margin-left: 100px;
  }

  .play-video {
    margin-right: 10px;
    justify-content: center;
    padding-top: 10px;
  }

  .button-tablet {
    margin-left: -15px;

  }

  .banner-one {
    width: 100%;
    margin-left: -15px;
    margin-top: 250px;
    margin-bottom: 500px;
    float: right;
  }

  .fifth-section {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
  }

  .banner {
    height: 300px;
    width: 650px;
  }

  /* SIXTH SECTION */

  .hub-section-container {
    flex-direction: column;

    align-items: center;
  }

  .hub-logo {
    margin-left: 253px;
  }

  .hub-dots {
    margin-left: 0px;
  }

  .woman-arms-folded {
    margin-left: 50px;
  }

  .dots {
    margin-right: 250px;
  }

  .hubspot-logo {
    text-align: center;
  }

  .perspective-paragraph {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  .position-title {
    flex-direction: column;
    text-align: center;
  }

  /* EIGHT SECTION */

  .worlds-best-container {
    padding-top: 25px;
    text-align: center;
  }

  .intro {
    font-size: 24px;
  }
  .list {
    width: 100px;
  }

  .price-card-container {
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }

  .price-content {
    width: 750px;
  }

  .card-price {

    text-align: center;
    font-weight: 400;
  }

  .card-text {
    font-size: 18px;
    text-align: center;
  }
  .line {
    width: 620px;
  }

  .card-credit{
    text-align: center;
    font-size: 18px;


   
  }
  
 
  .card-header {
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
  }

  .price-grid-container {
    display: grid;
    gap: 40px;
  margin-top: 45px;
    margin-left: 142px;
  
  }
  
  /* NINTH SECTION */

 .box-sizing-two {

  display: flex;
  flex-direction: column;
  height: 1200px;
 }

 .contact-form {
margin-left: 200px;
 }

 .form-box {

  display: flex;
  flex-direction: column;
  /* margin-top: 500px; */
  margin-left: 65px;
 }

 .form-container {
  flex-direction: column;
  margin-top: 1px;
  /* margin-left: 600px; */
 }

 .privacy-policy {
display: contents;
font-size: 18px;

 }

 .hire-container {

margin-left: -180px;

 }

 .hire-us-motto {

  font-size: 20px;
 }

 .client-title {
  font-size: 18px;
 }

 .people-container {


 margin-left: 246px;
  margin-top: -277px;
 }

 .dots {
  margin-right: 0px;
 }

 .quote {

  font-size: 18px;
  margin-top: 75px;
 }



 .button-three {
margin-top: 20px;

 }









  /* SIXTH SECTION */

  @media screen and (max-width: 360px) {
    [aria-controls="buynowDropdown"] {
      display: block;
      border: none;
      background: transparent;
      font-size: 35px;
    }

    [aria-controls="false"] ~ ul {
      display: none;
    }

    [aria-controls="true"] ~ ul {
      display: block;
    }

    .navbar-nav > li > a {
      display: none;
    }

    #background {
      height: 810px;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding-top: 25px;
      padding-top: 25px;
      margin-left: auto;
      margin-right: auto;
    }

    .buy-now {
      display: none;
    }

    .nav-name {
      width: 170px;
    }

    .motto-container {
      padding-top: 10px;
    }

    .motto {
      font-size: 18px;
    }

    .sub-header-small {
      font-weight: 400;
    }

    .icon-container {
      padding-top: 263px;
    }

    .icons {
      padding-top: 70px;
      margin-left: -40px;
    }

    .logo {
      margin-left: 349px;
      height: 75px;
      width: 75px;
    }

    .logo-two,
    .logo-three {
      height: 100px;
      width: 100px;
      margin-left: 30px;
    }

    .logo-two {
      margin-top: 10px;
    }

    .logo-three {
      height: 100px;
      width: 100px;
      margin-top: 5px;
      margin-left: 10px;
    }

    .logo-four {
      height: 100px;
      width: 100px;
      margin-left: -300px;
      margin-top: 140px;
    }

    .logo-five {
      height: 90px;
      width: 90px;
      margin-left: -125px;
      margin-top: 165px;
    }

    .logo-six {
      height: 75px;
      width: 75px;
      margin-left: -215px;
      margin-top: 270px;
    }

    .logo-seven {
      height: 100px;
      width: 100px;
      padding: 15px;
      margin-top: 300px;
      margin-left: -100px;
    }

    .play-video {
    
      align-items: center;
    
      display: flex;
      flex-direction: column;
    }

    .button-two {
      margin-left: -29px;
    }

    .four-cards-container {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      /* align-items: center; */
    }

    .benefits-container {
      margin-left: 0px;
    }

    .card-content {
      width: 336px;
      height: 315px;
    }

    .card-title, .card-paragraph {
      font-size: 18px;
    }


    .learn {
     padding-right: 47px;
      font-size: 18px;
    }

    .third-section-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
    }

    .box-sizing {
      display: flex;
      background-color: #f8f9fa;
      height: 835px;
      width: 90%;
      position: absolute;
      margin: 20px;
      font-size: 24px;
    }
    .perspective-video {
      height: 1000px;
      position: absolute;
      padding: 0px;
      text-align: center;
      font-size: 26px;
    }

    .video-intro {
      width: 100%;
      font-size: 24px;
    margin-left: 7px;
    }

    .banner-one {
      display: flex;
      position: static;
      width: 100%;
      object-fit: none;
      margin-left: 0%;
      height: 100%;
      margin-top: 168px;
      float: right;
    }

    .hub-section-container {
      margin-top: -90px;
    }

    .director-statement-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 650px;
      color: #000;
      margin-top: -600px;
      font-size: 20px;
      justify-content: center;
      align-items: center;
    }

    .perspective-paragraph {
      margin-left: -26px;
    }

    /* fourth section */
    .front {
      padding-top: 900px;
    }

    p.sub-header {
      font-size: 23px;
      margin-left: 10px;
    }

    .connect-list {
      display: flex;
      flex-direction: column;
    }

    .connect-wrapper {
      display: flex;
      padding-left: 20px;
    }
    .connect-wrapper p {
      font-size: 20px;
      margin-left: 20px;
    }

    /* fifth section */

    .fifth-section {
      margin-left: 10px;
      margin-right: 10px;
    }

    .banner {
      height: 175px;
      width: 320px;
      margin-left: 10px;
    }

    /* SIXTH SECTION */

    .woman-arms-folded {
      width: 275px;
      height: 400px;
      margin-top: -25px;
      margin-left: 30px;
    }

    .hub-dots {
      margin-top: -70px;
    }

    .dots {
      margin-right: 235px;
      width: 200px;
    }

    .hub-logo {
      margin-left: 25px;
    }

    .position-title {
      margin-left: -55px;
    }

    /* EIGHT SECTION */

    .company-list {
      display: flex;
      line-height: 5;
      flex-direction: column;
      justify-content: space-around;
    }

    .worlds-best-container {

  
      padding-top: 25px;
      text-align: center;
 }

 .intro {

  font-size: 20px;
 
  }


  .price {

    padding-top: 20px;
  }

  .card-testimonial {

 
    padding: 10px;
    font-size: 30px;
    width: 300px;
    height: 281px;
    text-align: center;
  }

  .price-content {

    width: 331px;
    height: 492px;
    margin-left: 10px;
  }

  .card-text {

    width: 100%;
    margin-left: -2px;
  }
  .line {
    width: 300px;
  }

  .button-two {

    margin-left: -28px;
  }

  .card-credit {

   margin-left: 0px;
  }

  .price-grid-container {
    display: flex;
    flex-direction: column;
  
    margin-left: 20px;
    width: 350px;
    padding: 10px;
  }


  .hire-container {
   margin-right: 32px;
    margin-top: 125px;
  
  }

  .client-title {

    margin-left: -20px;
  }

  .hire-us-people {
margin-left: -40px;
  }

  .box-sizing-two {
height: 2000px;

  }

  .people-container {

    display: flex;
    flex-direction: column;
margin-left: -137px;
margin-top: 10px;
  }

  .form-box {

    margin-left: 10px;
    margin-bottom: 600px;
    width: 310px;
    height: 1500px;

  }

  .form-text {
display: flex;
flex-direction: column;

  }

  .drop-down {

    display: flex;
    flex-direction: column;
    gap: 25px;
  }

.interview {

  width: 250px;
}

.privacy-policy {

 display: flex;
 flex-direction: column;

 width: 100%
}

.form-title {


}

.policy {

  word-wrap: break-word;
}

  /* .input-container {
    display: flex;
    flex-direction: column;
  } */
  
  }
}
