:root {
  --white: #fff;
  --light-gray: #c7eaef;
  --gray: #d2d2d2;
  --black: #000;
  --lightblue: #000000;

  --font-color-base: #666;
  --font-color-dark: #212529;
  --font-color-light: #b0aebe;
  --font-color-link: #57a6ff;

  --footer: #34314b;
  --footer-base: #2e2b45;
  --contrast: rgba(246, 248, 249, 0.8);
  --success: #64ecf5;
  --danger: #ff8b8d;
  --grad-1: #a1ecff;
  --grad-2: #8293a4;
  --grad-3: #c7eaef;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* CODE FOR TOP NAVBAR GRADIENT */

#background {
  width: 100%;
  max-width: 100%;
  height: 630px;
  position: absolute;
  display: flex;
  bottom: 430px;
  z-index: -1;
  right: 0;
  top: 0;
  left: 0;
}

#background:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  box-sizing: border-box;
  border-width: 0 0 158px 156.25rem;
  border-color: transparent transparent white transparent;
}
#gradient {
  background-image: var(--grad-3);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: linear-gradient(to right, white, #d2d2d2, #c7eaef);
}

#solid {
  background: #d2dcea;
  width: 11.5%;
  position: relative;
  box-sizing: border-box;

}

#solid:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 99%;
  width: 0;
  height: 100%;
  border-style: solid;
  border-width: 50rem 100px 0 0;

  border-color: transparent var(--light-gray) transparent transparent;
}

::after,
::before {
  box-sizing: border-box;
}

/* CODE OF TOP NAVBAR */

.top-nav {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  position: sticky;
  margin-right: 20px;
  top: 0;
  width: 100%;
}

.grand-motto-container {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  width: 100%;
}

.name {
  width: 150px;
  justify-items: center;
  margin-left: 5px;
}

ul {
  display: flex;
  list-style: none;
}

.top-right-header {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-right: 90px;



}




.nav-item {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
  color: black;
  color: #333138;
}

.nav-item:features {
  color: #57a6ff;
}

.buy-now,
.button {
  background-color: #3b87dd;
  border: none;
  color: white;
  margin-left: 3px;
  width: 145px;
  height: 60px;
  border-radius: 30px;
}

.play-video {
  display: flex;
  margin-top: 26px;
  font-size: 20px;
  margin-left: 0px;
  font-weight: 400;
  align-items: center;
}

.learn {
  padding-left: 25px;
  color: #3b87dd;
  font-weight: 600;
  font-size: 24px;
}




/* motto and icons */
  .motto{
  width: 50%;
  margin-left: 50px;
  font-size: 32px;
  font-family: "Hind", sans-serif;
  font-family: "Lunasima", sans-serif;
  color: #000;
  font-weight: lighter;
}

.sub-header-small {
  font-size: 20px;
  padding-top: -20px;
  color: #8293a4;
  font-weight: 600;
  margin-left: 5px;
}

.play {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: -3px;
  margin-top: 2px;
}

/* h2 {

    font-size: 30px;
    font-family: "Hind", sans-serif;
    font-family: "Lunasima", sans-serif;
    color: #000;
    font-weight: lighter;
} */

p.sub-header {
  margin-left: 5px;
  font-size: 26px;
  font-weight: 400;
  color: #8293a4;
}

.icon-container {
  display: flex;
  /* width: 50%; */
}

.logo-icons {
  position: relative;
}

.logo-one {
  width: 45px;
  height: 45px;
  margin-left: 223px;
  border-radius: 50%;
  padding: 21px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-two {
  width: 70px;
  height: 70px;
  margin-top: -80px;
  border-radius: 50%;
  margin-left: 400px;
  padding: 21px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-three {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  margin-left: 650px;
  margin-top: -130px;
  padding: 21px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}
.logo-four {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 140px;
  margin-top: 100px;
  padding: 21px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}
.logo-five {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 450px;
  margin-top: -85px;
  margin-bottom: 50px;
  padding: 21px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-six {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-left: 310px;
  margin-top: -25px;
  padding: 21px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-seven {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: 700px;
  margin-top: -40px;
  padding: 21px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}




/* SECOND BLOCK */

.benefits {
  padding-top: 125px;
  text-align: center;
  font-size: 30px;
}

.four-cards-container {
  padding-top: 60px;
  display: flex;

  justify-content: center;
  gap: 2rem;
}

.card-content {
  width: 275px;
  height: 425px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #ecedef;
}

.card-content:hover {
  background-color: #f1f3f5;
}

.card-icons {
  width: 75px;
  height: 75px;
  padding-top: 25px;
  padding-left: 25px;
}

.card-title {
  display: flex;
  font-size: 24px;
  margin-left: 20px;
}

.sketch {
  background-color: #37a37f;
  border: none;
  font-size: 16px;
  color: white;
  margin-left: 20px;
  margin-top: -5px;
  width: 90px;
  height: 35px;
  border-radius: 30px;
}

.card-paragraph {
  font-size: 24px;
  font-weight: 200;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.3;
  color: #8293a4;
}



/* THIRD SECTION */
    
.third-section-container {
    width: 100%;
    height: 500px;
    margin-top: 100px;
    display: flex; 
    justify-content: center;
        overflow: auto;
   
}


.box-sizing {
    display: flex;
    background-color: #f8f9fa;
    /* width: 100%; */
    padding-top: 300px;
    height: 350px;
    position: absolute;
    margin: 20px;
    font-size: 24px;

}

.perspective-video {
    height: 1000px;
    margin-right: 60px;
    margin-left: 50px;
    margin-top: -75px;
}

.banner-one {

    display: flex;
    position: static;
    height: 500px;
    margin-top: -150px;
    /* width: 50%; */
}



/* fourth section */

.why-front {

    text-align: center;
    position: relative;
    margin-top: 355px;
    font-size: 30px;
}

.paragraph {
    color: #8293a4;
    font-size: 26px;
    font-weight: 400;

}