body {
  margin: 0;
}

.top-nav {
  position: fixed;
  padding: 1rem;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
}

[aria-controls="buynowDropdown"] {
  display: none;
}

.nav-name {
  width: 220px;
}

.nav-item a {
  color: #8293a4;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Hind", sans-serif;
  text-decoration: none;
  margin-right: 40px;
}

/* CODE FOR TOP NAVBAR GRADIENT */


.motto-container {
  padding-top: 75px;
  margin-left: 25px;
}

.motto {
  font-size: 32px;
  font-family: "Hind", sans-serif;
  font-family: "Lunasima", sans-serif;
  color: #000;
  font-weight: lighter;
}

.buy-now,
.button {
  background-color: #3b87dd;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 500px;
  width: 145px;
  height: 60px;
  border-radius: 30px;
}

.sub-header-small {
  font-size: 20px;
  color: #8293a4;
  font-weight: 600;
}

.play-video {
  display: flex;

  font-size: 20px;
  margin-left: 0px;
  font-weight: 400;
  align-items: center;
}

.play {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 2px;
}

.learn {
  padding-left: 25px;
  color: #3b87dd;
  font-weight: 600;
  font-size: 24px;
}

.icon-container {
  display: flex;
  float: right;
  bottom: 400px;
  padding-left: 300px;

  width: 50%;
  position: relative;
}
.icons {
  display: flex;
  position: relative;
  margin-right: 50px;
}

.logo {
  display: flex;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 19px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-two {
  width: 145px;
  height: 145px;
  margin-left: 100px;
  border-radius: 50%;
  padding: 19px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-three {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin-left: 186px;
  padding: 19px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-four {
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin-left: -749px;
  margin-top: 276px;
  padding: 19px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-five {
  width: 135px;
  height: 135px;
  margin-left: -325px;
  margin-top: 276px;
  border-radius: 50%;
  padding: 19px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-six {
  width: 125px;
  height: 125px;
  margin-left: -539px;
  margin-top: 445px;
  border-radius: 50%;
  padding: 19px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}

.logo-seven {
  width: 155px;
  height: 155px;
  margin-left: -175px;
  margin-top: 500px;
  border-radius: 50%;
  padding: 27px;
  background-color: white;
  box-shadow: 5px 5px 5px 5px #c5c6c7;
}



.benefits-container, .front {
  width: 100%;
  display: flex;
  flex-direction: column;
 
  text-align: center;
  font-size: 30px;
}




.four-cards-container {
  padding-top: 60px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.card-content {
  width: 275px;
  height: 450px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #ecedef;
}

.card-content:hover {
  background-color: #f1f3f5;
}

.card-icons {
  width: 75px;
  height: 75px;
  padding-top: 25px;
  padding-left: 25px;
}

.card-title {
  display: flex;
  font-size: 24px;
  margin-left: 20px;
}

.sketch {
  background-color: #37a37f;
  border: none;
  font-size: 16px;
  color: white;
  margin-left: 20px;
  margin-top: -5px;
  width: 90px;
  height: 35px;
  border-radius: 30px;
}

.card-paragraph {
  font-size: 24px;
  font-weight: 200;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.3;
  color: #8293a4;
}

p.sub-header {
  margin-left: 0px;
  margin-top: -10px;
  font-size: 26px;
  font-weight: 400;
  color: #8293a4;
}

/* THIRD SECTION */

.third-section-container {
  width: 100%;
  margin-top: 700px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.box-sizing {
  width: 100%;
  height: 600px;
  display: flex;
  background-color: #f8f9fa;
  margin: 20px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
  font-size: 24px;
}

.perspective-video {
  height: 1000px;
  margin-right: 60px;
  font-size: 35px;
  margin-left: 50px;
  margin-top: 200px;
}



.banner-one {
  display: flex;
  margin-top: 130px;
  margin-left: 55px;
}


/* fourth section */

.front {
    padding-top: 60px;

}

.connect-list {



    display: grid;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
  }

  .connect {
    display: grid;
    text-align: center;
    grid-column: 2 / span 1;
    content: "";
    grid-template-columns: .5fr auto .5fr;
    align-items: center;
  }
  
  h2 {
    margin-bottom: 25px;
  }

  .dot {
    border-radius: 100%;
  }
  
  .connect h2 {

    width: 80px;
    margin-bottom: 40px;
    height: 80px;
    margin-top: 25px;
    font-size: 43px;
    background-color: #ecf2ff;
    border-radius: 100px;
    color: #0066ff;

  }


  
  .connect-wrapper {
    align-items: center;
    grid-template-rows: 1fr 1fr;
  }
  
  .connect:before,
  .connect:after {
    display: block;
    content: "";
    height: 2px;
    background: #e6e9f2;
  }
  .connect:after {
    background: #e6e9f2;
  }
  .connect-first:before {
    background: transparent;
  }
  
  .connect-last::after {
    background: transparent;
  }
  
  .connect-wrapper p {
    margin-top: 0;
    font-size: var(--size14);
    grid-row: 2 / span 1;
    text-align: center;
    grid-column: 2 / span 1;
    font-size: 24px;
    font-weight: 500;
    color: black;
    font-style: normal;
  }


  .fifth-section {

    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
    padding-bottom: 200px;
  }


  .banner{

    background-image: url(/saas-project-assets/banners/banner_two.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
  }

  .round-button {

    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: var(--white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
     color: #212529;
     font-weight: 900;
  }

  /* sixth section */

  .sixth-section {

    width: 25%;
    margin-left: 350px;
    /* display: flex; */
    margin-top: 20px;

  }

  .dots-screen {
    display: flex;
    background-image: url(/saas-project-assets/abstract/dots.svg);
    width: 250px;

  }

  .woman-blazer {
    display: flex;
    height: 600px;
    width: 500px;
    margin-left: 70px;
    padding-bottom: 50px;
    margin-top: -100px;

  }

   .director-statement-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #000;
    margin-top: -590px;
    margin-left: 300px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
 

  } 

  .hub {

    width: 150px;
    height: 150px;
    margin-right: 300px;

  }

  .director-name {

    font-weight: 500;
    font-size: 28px;
  }


